/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
  background-color: rgb(45, 63, 75);
  display: block;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
  font-family: monospace;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.75;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  color: rgb(194, 194, 194);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

img {
  width: 100%;
  height: 100%;
}


/* Make images easier to work with */


button {
  font: inherit;
  background: rgba(137, 137, 131, 0.19);
  border: none;
  border-radius: 3px;
  color: rgb(194, 194, 194);
  transition: transform .05s;
  position: absolute;
  top: 200px;
  right: 50%;
}

.scoreboard {
  max-height: 75vh;
  width: 25vw;
  position: absolute;
  top: 130px;
  bottom: 120px;
  right: 100px;
  background: rgba(137, 137, 131, 0.19);
  box-shadow: 10px 10px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.player-wrapper {
  position: absolute;
  top: 30%;
  left: 20%;
}

.com-wrapper {
  position: absolute;
  top: 55%;
  left: 20%;
}

.button:hover, .tile:hover, .com-tile:hover {
  transform: scale(1.01);
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 25px;
}

.container {
  margin-top: 50px;
  margin-right: 200px;
  width: 1000px;
  position: relative;
}

.tile, .com-tile {
  border-radius: 3px;
  transition: transform .05s;
}

.com-tile {  
  position: absolute;
  left: 400px;
}

.rock {
  position: absolute;
  top: 0;
  left: 200px;
}
.paper {
  position: absolute;
  top: 0;
  left: 400px;
}
.scissors{
  position: absolute;
  top: 0;
  left: 600px;
}